@require './lib/brandcolors'
@require './lib/flatuicolors'
@require './settings'

generateColors(list)
    for color in list
        .bg-{color}
            background-color: list[color]
        .{color}
            color: list[color]

generateColors($brandcolors);
generateColors($flatuicolors);
generateColors($colors);