body
    *
        box-sizing border-box

#container
    width 100%

img
    max-width 100%
    height auto

.round
    border-radius 100%

.bg-cover
    background-position top center
    background-repeat no-repeat
    background-size cover

.block
    display block

.uc
    text-transform uppercase

.lc
    text-transform lowercase

.text-center
    text-align center

.hide
    display none
