.panel-sizer
    width ($panelSide)%

.panel
    position absolute
    &:hover
        cursor grab
        .configure
            opacity 1
        &.is-dragging
            .configure
                opacity 0
    &:before
        display block
        content ''
        width 100%
    &.is-dragging
        cursor grabbing
        z-index 2
        .content
            box-shadow 0 0 10px rgba(0, 0, 0, .7)
            transform rotate(5deg)
    &.is-positioning-post-drag
        z-index 2

    .content
    .configure
        position absolute
        top 0
        right 0
        bottom 0
        left 0

    .content
        overflow hidden
        overflow-y scroll
        transition all .2s
        margin unit($gutter, 'px')

    .configure
        opacity 0
        transition opacity .3s ease
        .width
        .height
            background rgba(black, .50)
            position absolute
            margin unit($gutter, 'px')
            i
                &:hover
                    background rgba(black, .50)
                    cursor pointer
        .width
            width 36px
            right 0
            top 0
            bottom 0
            i
                width 100%
                padding 10px 0
                text-align center
        .height
            height 36px
            right 0
            left 0
            bottom 0
            margin-right unit($gutter+36, 'px')
            text-align center
            i
                height 100%
                padding 0 10px
                &:before
                    line-height 36px

panel(x, y)
    .panel-{x}x{y}
        width (x*$panelSide)%
        &:before
            padding-top (y/x*100)%


panels(xMax, yMax)
    for y in 1..(yMax)
        for x in 1..(xMax)
            panel(x, y)

panels($panelsMaxX, $panelsMaxY)
