
$panelSide = 100/8
$gutter = 15

$panelsMaxX = 8
$panelsMaxY = 8

$layers = 6

$spacingStep = 5

$spacingSizes = {
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '12': 12,
};

$colors = {
    'red': rgb(233, 0, 39),
    'yellow': rgb(252, 198, 0),
    'green': rgb(141, 202, 41),
    'blue': rgb(59, 183, 239),
    'gray': rgba(white, .5),
    'dark-gray': #333333,
    'uptime-robot': #489049,
};
