
$panelSide = 100/8
$gutter = 15

$panelsMaxX = 8
$panelsMaxY = 8

$layers = 5

$spacingStep = 5

$spacingSizes = {
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
};