body
    background #2d2d37
    color white
    font-family 'Monaco', monospace
    font-size 12px
    font-smoothing antialiased
    font-weight bold

.content
    background #363640

.packery-drop-placeholder
    outline 3px dashed #363640
    outline-offset -6px
    transition transform 0.2s
