@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic';

body
    background linear-gradient(to left, #5C258D, #4389A2)
    color white
    font-family 'Open Sans', sans-serif
    font-smoothing antialiased
    font-weight bold
    line-height 1.2

.content
    background rgba(#363640, .75)

.content
.loading
    border-radius 3px
    overfloaw hidden

.packery-drop-placeholder
    outline 3px dashed rgba(#363640, .75)
    outline-offset -6px
    transition transform 0.2s
    z-index 1

#settings-overlay
    .button
        background #5C258D
        color white
        width auto
        border none
        padding 10px 20px
